experiments/**
!experiments/**/
!experiments/**/*.ipynb
!experiments/**/figures/*
.ipynb_checkpoints/
experiments_real
logs/
src/__pycache__
*.pyc
datasets/grav_collapse/
datasets/lorenz96/*/trajectories.npy
README.md
